.cus{
  background-color: #550aa9 !important;
  /* display: flex !important; */
  /* justify-content: space-between !important; */
  /* color: white !important; */
}
.nav-link{
  color: white !important;
  margin-left: 50px;
  font-weight: bold;
}
img{
  width: 30px;
  /* background: transparent !important; */
  border-radius:50% ;
}
.navbar-brand{
  color: white !important;
  /* background-color: white; */
}
/* navbar-brand */
.navbar-toggler{
  background-color: white;
}
.navbar-expand-lg .navbar-collapse {
  display: flex;
  justify-content: center;
}